DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/clickrent
SECRET_KEY=LbvCp8mkQ2cPSKpxQRPz0gQjF5OjajNU8aSOQ_2Iy3c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30